.vue-treeselect::after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
.vue-treeselect__control {
  margin-top: 3px;
  margin-bottom: 3px;
  height: 32px !important;
  line-height: 32px !important;
}
.vue-treeselect__placeholder {
  line-height: inherit !important;
}
.vue-treeselect__single-value {
  color: rgba(0, 0, 0, 0.65) !important;
}
